.inventory{
    position:fixed;
    bottom: 0;
    width: 100%;
}

#money{
    text-align: center;
    font-size: 32px;
}
#number{
    text-align: center;
    font-size: 32px;
}
.marketplace{
    display: none;
}
.main{
    background-color: rgb(121,121,121);
}
.messageNoMoney{
    font-size: 20px;
    text-align: center;
    border: 5px, solid;
    align-items: center;
    display: none;
}

.upgradesContainer button {
    display: inline-block;
    margin-right: 10px;
}

#sellAll{
    text-align:center;
}
.sellButtons{
    display: grid;
    grid-template-columns: repeat(3, 72px);
    margin-bottom: 10px;
    text-align: center
}

button{
    background-color: white;
    font-size: 18px;
}